 <div class="rightcolumn">
   <div class="card">
        <p><form name="jump">
       <select name="menu" onchange="gotoPage(this)">
         <option value="#">Sort By...</option>
         <option value="/">Hottest</option>
         <option value="/">Newest</option>
       </select>
     </form>
     <script type="text/javascript">
       function gotoPage(select){
       window.location = select.value;
       }
     </script>
        </p>
   </div>
     <div class="card">
        <div id="card-mission"> /unmute ALL is the perfect place to let out your gaming related frustations or share any interesting thoughts you may have.<br><br></div>
    <a href="/thread/new"><button id="create">Create Post!</button></a>
    </div>
	</div>